<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{vets.title}">List of Vets</title>
</head>
<body>
    <h1 th:text="#{vets.title}">list of vets</h1>
    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{firstName}">First Name</th>
            <th th:text="#{lastName}">Last Name</th>
            <th th:text="#{specialties}">Specialties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Joe</td>
            <td th:text="${vet.lastName}">Smith</td>
            <td>
                <span th:each="specialty : ${vet.specialties}"
                      th:text="${specialty.description + ' '}" />
                <span th:if="${vet?.specialties?.size() == 0}">none</span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>